/backend/bin
/backend/bin/main
/backend/bin/main/com
/backend/bin/main/com/rodrigo
/backend/bin/main/com/rodrigo/backend2java
/backend/bin/main/com/rodrigo/backend2java
/backend/bin/main/com/rodrigo/backend2java/model/dto
/backend/bin/main/com/rodrigo/backend2java/model/dto/request

